#aCanvas {
  height: 6em;
}

.astDiv {
  display: inline-block;
  background-color: #2e48387d;
  padding: 1em;
  border: 0.5em solid #000000;
  border-radius: 25px;
  width: 15em;
}
.selected {
	background-color: #8cd8a97d;
}
body {
	background-color: black;
	background-image: url("bg.jpg");
	color: #a5d6e8;
}
footer {
	color: #a5d6e8;
}
